/* ## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): 
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
    --dark-blue-main-bg: hsl(217, 54%, 11%);
    --dark-blue-card-bg: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --border-radius: 18px;
    --font-size: 18px;
}

html {
    background-color: var(--dark-blue-main-bg);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 37.5em;
    width: 22em;
    background-color: var(--dark-blue-card-bg);
    border-radius: 12px;
    box-shadow: 0px 0px 45px -7px hsl(216, 56%, 4%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

.cover-img {
    background-image: url('./images/image-equilibrium.jpg');
    background-size: cover;
    border-radius: 6px;
    height: calc(22em - 50px);
    width: calc(22em - 50px);
    color: transparent;
}

.cover-link-hover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 255, 247, 50%);
}

.cover-img .show {
    color: var(--white);
    font-size: 2.5em;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity .5s;
}

.show {
    opacity: 0;
}

.show:hover {
    opacity: 1;
}

.card h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: var(--white);
    font-size: 22px;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: .85em 0;
    padding-top: 1.15em;
}

.card p {
    width: 100%;
    font-size: 1.15em;
    height: auto;
    font-weight: 200;
    font-family: 'Outfit', sans-serif;
    color: var(--soft-blue);
    line-height: 1.45;
    margin: 0;
    padding: 0;
    margin-bottom: 1.25em;
}

.price-info {
    width: 100%;
    height: fit-content;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid var(--dark-blue-line);
    box-sizing: border-box;
    padding: 0em;
    padding-bottom: 1.55em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 16px;
}

.price {
    color: var(--cyan);
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.time {
    color: var(--soft-blue);
    margin: 0;
    padding: 0;
    transition: color .25s;
}

.time i {
    margin-right: 10px;
}

.time:hover {
    color: var(--cyan);
    cursor: pointer;
}

.user {
    height: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5em;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: var(--soft-blue);
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: 400;
}

.user-name a {
    text-decoration: none;
    color: var(--white);
}

.user-name a:hover {
    color: var(--cyan);
    cursor: pointer;
}

.user-image {
    height: 30px;
    width: 30px;
    background-image: url('./images/image-avatar.png');
    background-size: cover;
    margin-right: 0.75em;
    border-radius: 50%;
    border: 1px solid white;
}

.attribution {
    position: fixed;
    bottom: 1em;
    color: var(--soft-blue);
    font-family: 'Outfit', sans-serif;
}

.attribution a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.5s;
}

.attribution a:hover {
    color: var(--cyan);
}